.box{
    margin-top: 50px;
}
.box-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.box1{
    width: 256px;
    height: 336px;
    border-radius: 4px;
background: #FFF;
box-shadow: 5px 10px 30px 0px rgba(0, 0, 0, 0.15);
}
.box2{
    display: flex;
}
.box2 h1{
    margin: 30px 9px 8px 25px;
    width: 126px;
    height: 32px;
    color: #000;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.box2 img{
    margin-top: 12px;
}

.box1 ul li{
    margin-left: 25px;
    margin-top: 20px;
    width: 181px;
    color: #000;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.box01{
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
}
.box1 a{
    display: flex;
    // align-items: center;
    margin:30px 0 31px 25px;
    // margin-left:  25px;
    width: 90px;
    color: #828282;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
}