.end{
    display: flex;
    margin-top: 77px;
    height: 310px;
    width: 100%;
    background:  #F2F2F2;
}
.end-content{
    display: flex;
    // align-items: center;
    justify-content: space-between;
}
.end1 img{
    margin-top: 40px;
    // margin-left: 53px;
}
.end1 p{
    width: 240px;
    margin-top: 117px;
    color: #4E4E4E;
font-family: Roboto;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 110%;
}
.end2{
    margin-top: 40px;
    margin-left: 107px;
}
.end2 ul{
    margin-top: 37px;
}
.end2 h1{
    color: #000;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.end2 ul li{
    margin-top: 20px;
    color: #000;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.end3{
    margin-top: 40px;
    margin-left: 99px;
}
.end3 h1{
    color: #000;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.end3 ul{
    margin-top: 35px;
}
.end3 ul li{
    margin-top: 20px;
    color: #000;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.end4 ul{
    margin-top: 91px;
    margin-left: 88px;
}
.end4 ul li{
    color: #000;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 20px;
}
.end5{
    margin-top: 40px;
    margin-left: 110px;
}
.end5 h1{
    color: #000;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.end5 p{
    margin-top: 35px;color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.end5 h5{
    margin-top: 20px;
    color: #000;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.end5 button{
    margin-top: 72px;width: 154px;
    height: 42px;
    border-radius: 4px;
background: #F3AA3C;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
border: 0;
outline: none;
}